Name,URL,Products,Pages
Power Tools,https://www.hornbach.de/c/elektrowerkzeuge/S1196/,0,0
Hand Tools,https://www.hornbach.de/c/handwerkzeuge/S1195/,0,0
Bathroom Faucets,https://www.hornbach.de/c/badarmaturen/S1429/,0,0
Paints,https://www.hornbach.de/c/farben/S882/,0,0
Garden & Outdoor,https://www.hornbach.de/c/garten/S200/,0,0
