playwright==1.49.1
httpx==0.28.1
beautifulsoup4==4.12.3
google-api-python-client==2.154.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
gspread==6.1.4
python-dotenv==1.0.1
fake-useragent==1.5.1
tenacity==9.0.0
lxml==5.3.0
pandas==2.2.3
openpyxl==3.1.5
